Repository tdib/github-actions-sandbox, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, iOS, Android, Mock files

Add content to Android file
  Android/my-file.txt
Labels: Android

Update Android file
  Android/my-file.txt
Labels: Android

Clean up workflows
  .github/workflows/job_check-for-changes.yml
  .github/workflows/job_compile-and-test.yml
  .github/workflows/job_dependent.yml
  .github/workflows/job_main.yml
  .github/workflows/job_secondary.yml
  .github/workflows/workflow_main-cron-checks.yml
  .github/workflows/workflow_pr.yml
Labels: none

Initial set up of main merge workflow
  .github/workflows/workflow_pr.yml
Labels: none

Add fetch call
  .github/workflows/workflow_pr.yml
Labels: none

Add origin to branch name for merge
  .github/workflows/workflow_pr.yml
Labels: none

Add git user config
  .github/workflows/workflow_pr.yml
Labels: none

Add printing, adjust fetch statement
  .github/workflows/workflow_pr.yml
Labels: none

Add origin to fetch
  .github/workflows/workflow_pr.yml
Labels: none

Fetch PR branch
  .github/workflows/workflow_pr.yml
Labels: none

Change merge approach
  .github/workflows/workflow_pr.yml
Labels: none

Remove unnecessary branch creation
  .github/workflows/workflow_pr.yml
Labels: none

Adjust method of merging
  .github/workflows/workflow_pr.yml
Labels: none

Remove git logic
  .github/workflows/workflow_pr.yml
Labels: none

Add additional validation for merge
  .github/workflows/workflow_pr.yml
Labels: none

Remove broken echos
  .github/workflows/workflow_pr.yml
Labels: none

Add job for checking commit messages
  .github/actions/commit-message-validator/action.yml
  .github/actions/commit-message-validator/dist/index.js
  .github/actions/commit-message-validator/index.js
  .github/actions/commit-message-validator/package.json
  .github/actions/commit-message-validator/pnpm-lock.yaml
Labels: none

TEST-1234 - Update PR workflow to call commit-message-validator
  .github/workflows/workflow_pr.yml
  .gitignore
Labels: none

Add dummy Android project
  .gitignore
  Android/app/.gitignore
  Android/app/build.gradle.kts
  Android/app/proguard-rules.pro
  Android/app/src/androidTest/java/xyz/tdib/tempapp/ExampleInstrumentedTest.kt
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/xyz/tdib/tempapp/MainActivity.kt
  Android/app/src/main/java/xyz/tdib/tempapp/ui/theme/Color.kt
  Android/app/src/main/java/xyz/tdib/tempapp/ui/theme/Theme.kt
  Android/app/src/main/java/xyz/tdib/tempapp/ui/theme/Type.kt
  Android/app/src/main/res/drawable/ic_launcher_background.xml
  Android/app/src/main/res/drawable/ic_launcher_foreground.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/themes.xml
  Android/app/src/main/res/xml/backup_rules.xml
  Android/app/src/main/res/xml/data_extraction_rules.xml
  Android/app/src/test/java/xyz/tdib/tempapp/ExampleUnitTest.kt
  Android/build.gradle.kts
  Android/gradle.properties
  Android/gradle/libs.versions.toml
  Android/gradle/wrapper/gradle-wrapper.jar
  Android/gradle/wrapper/gradle-wrapper.properties
  Android/gradlew
  Android/gradlew.bat
  Android/my-file.txt
  Android/settings.gradle.kts
Labels: Android

Add dummy Android project (#5)
  .gitignore
  Android/app/.gitignore
  Android/app/build.gradle.kts
  Android/app/proguard-rules.pro
  Android/app/src/androidTest/java/xyz/tdib/tempapp/ExampleInstrumentedTest.kt
  Android/app/src/main/AndroidManifest.xml
  Android/app/src/main/java/xyz/tdib/tempapp/MainActivity.kt
  Android/app/src/main/java/xyz/tdib/tempapp/ui/theme/Color.kt
  Android/app/src/main/java/xyz/tdib/tempapp/ui/theme/Theme.kt
  Android/app/src/main/java/xyz/tdib/tempapp/ui/theme/Type.kt
  Android/app/src/main/res/drawable/ic_launcher_background.xml
  Android/app/src/main/res/drawable/ic_launcher_foreground.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  Android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  Android/app/src/main/res/mipmap-hdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-mdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  Android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  Android/app/src/main/res/values/colors.xml
  Android/app/src/main/res/values/strings.xml
  Android/app/src/main/res/values/themes.xml
  Android/app/src/main/res/xml/backup_rules.xml
  Android/app/src/main/res/xml/data_extraction_rules.xml
  Android/app/src/test/java/xyz/tdib/tempapp/ExampleUnitTest.kt
  Android/build.gradle.kts
  Android/gradle.properties
  Android/gradle/libs.versions.toml
  Android/gradle/wrapper/gradle-wrapper.jar
  Android/gradle/wrapper/gradle-wrapper.properties
  Android/gradlew
  Android/gradlew.bat
  Android/my-file.txt
  Android/settings.gradle.kts
Labels: Android

Add initial java/gradle setup to workflow
  .github/workflows/workflow_pr.yml
Labels: none

Add default Android working directory
  .github/workflows/workflow_pr.yml
Labels: none

Change run name for Android checks
  .github/workflows/workflow_pr.yml
Labels: none

Add double quotes around run name string
  .github/workflows/workflow_pr.yml
Labels: none

Add dummy iOS project
  .gitignore
  iOS/TempApp.xcodeproj/project.pbxproj
  iOS/TempApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/TempApp/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/TempApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/TempApp/Assets.xcassets/Contents.json
  iOS/TempApp/ContentView.swift
  iOS/TempApp/Preview Content/Preview Assets.xcassets/Contents.json
  iOS/TempApp/TempAppApp.swift
  iOS/TempAppTests/TempAppTests.swift
  iOS/TempAppUITests/TempAppUITests.swift
  iOS/TempAppUITests/TempAppUITestsLaunchTests.swift
  iOS/my-file.txt
Labels: iOS

Add dummy iOS project (#7)
  .gitignore
  iOS/TempApp.xcodeproj/project.pbxproj
  iOS/TempApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  iOS/TempApp/Assets.xcassets/AccentColor.colorset/Contents.json
  iOS/TempApp/Assets.xcassets/AppIcon.appiconset/Contents.json
  iOS/TempApp/Assets.xcassets/Contents.json
  iOS/TempApp/ContentView.swift
  iOS/TempApp/Preview Content/Preview Assets.xcassets/Contents.json
  iOS/TempApp/TempAppApp.swift
  iOS/TempAppTests/TempAppTests.swift
  iOS/TempAppUITests/TempAppUITests.swift
  iOS/TempAppUITests/TempAppUITestsLaunchTests.swift
  iOS/my-file.txt
Labels: iOS

Implement workflows to detect changes to specific platforms
  .github/workflows/android.yml
  .github/workflows/ios.yml
  .github/workflows/workflow_pr.yml
  .gitignore
  Android/app/src/main/java/xyz/tdib/tempapp/MainActivity.kt
Labels: Android

Add output to show changed files for PR
  .github/workflows/workflow_pr.yml
Labels: none

Add assembleDebug to Android checks
  .github/workflows/workflow_pr.yml
Labels: none

Update gitignore to ignore native files
  .gitignore
Labels: none

Trial workflow in separate directory
  .github/actions/workflow_android.yml
  .github/workflows/workflow_pr.yml
Labels: none

Update run name for PR workflow
  .github/workflows/workflow_pr.yml
Labels: none

Add name to test job
  .github/actions/android-checks/action.yml
  .github/workflows/workflow_pr.yml
Labels: none

Add job for checking commit messages
  .github/actions/commit-message-validator/action.yml
  .github/actions/commit-message-validator/dist/index.js
  .github/actions/commit-message-validator/index.js
  .github/actions/commit-message-validator/package.json
  .github/actions/commit-message-validator/pnpm-lock.yaml
Labels: none

Update PR workflow to call commit-message-validator
  .github/workflows/workflow_pr.yml
  .gitignore
Labels: none

Add readme for commit-message-validator
  README.md
Labels: none

Add name for check-commit-messages job
  .github/workflows/workflow_pr.yml
Labels: none

Update run name for PR workflow
  .github/workflows/workflow_pr.yml
Labels: none

Add name to test job
  .github/workflows/workflow_pr.yml
Labels: none

Add job for checking commit messages
  .github/actions/commit-message-validator/action.yml
  .github/actions/commit-message-validator/dist/index.js
  .github/actions/commit-message-validator/index.js
  .github/actions/commit-message-validator/package.json
  .github/actions/commit-message-validator/pnpm-lock.yaml
Labels: none

.github/labeler.yml:

Docs:
- changed-files:
  - any-glob-to-any-file: Docs/**

iOS:
- changed-files:
  - any-glob-to-any-file: "**/iOS/**"

Android:
- changed-files:
  - any-glob-to-any-file: "**/Android/**"

Mock files:
- changed-files:
  - any-glob-to-any-file: Mocks/**
